body {
    font-family: Arial, sans-serif;
    background-color: #88b669;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.356);
    border-radius: 5px;
    border-color: #397014;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #88b669;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #bb9a9a;
}

li:last-child {
    border-bottom: none;
}

.delete-button {
    background-color: #cf473e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
